/*<![CDATA[*/
body {
  color: #333333;
  line-height: 150%;
}

thead {
  font-weight: bold;
  background-color: #CCCCCC;
}

.odd {
  background-color: #FFCCCC;
}

.even {
  background-color: #CCCCFF;
}

.minus {
  color: #FF0000;
}

/*]]>*/